@using Library.WebMVC.Models.Catalog
@model IEnumerable<AssetListingModel>

@{
    ViewData["Title"] = "Catalog";
}

<div class="container">
<h3>Library Catalog</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author / Director</th>
                <th>Dewey</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in Model)
            {
                <tr class="assetRow">
                    <td class="">
                        <div>
                            <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="@asset.ImageUrl" class="imageCell" />
                            </a>
                        </div>
                    </td>
                    <td class="">@asset.Title</td>
                    <td class="">@asset.AuthorOrDirector</td>
                    <td class="">@asset.Dewey</td>
                </tr>
            }
        </tbody>
    </table>
</div>